body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
  font-size: 120%;
}

h1 {
  font-size: 5.625rem;
  margin: 0 auto 0 auto;
  color: #66BFBF;
  padding-top: 50px;
  font-family: 'Sacramento', cursive;
}

h2 {
  font-size: 2.5rem;
  color: #66BFBF;
  font-weight: normal;
  font-family: 'Montserrat', sans-serif;
}

h3 {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
}

a {
  color: #11999E;
}

div {
  position: relative;
}

.top-container {
  background-color: #E4F9F5;
}

.middle-container {}

.bottom-container {}

.cloud1 {
  position: absolute;
  right: 300px;
  top: 50px;
}

.cloud2 {
  position: absolute;
  left: 300px;
  top: 400px;
}

.skill-android {
  width: 80%;
  margin: 80px auto 80px auto;
  text-align: left;
  line-height: 2;
}

.skill-flutter {
  width: 80%;
  margin: 80px auto 80px auto;
  text-align: left;
  line-height: 2;
}

.skill-web {
  width: 80%;
  margin: 80px auto 80px auto;
  text-align: left;
  line-height: 2;
}
